html {
  scroll-behavior: smooth;
}
body {
  font-family: "lato", sans-serif;
  margin: 0;
  padding: 0;
}

/*--------------- nav bar--------------------- */
nav {
  background: #111;
  color: white;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightgray;
}
.searchInput:focus {
  outline: none;
}
.limitedOffer {
  border-bottom: 2px solid green;
  font-size: 20px;
  cursor: pointer;
}
.navButtom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItems {
  margin-right: 50px;
  cursor: pointer;
  font-weight: 400;
  color: lightgray;
}
/*----------- slider ----------------*/
.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}
.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}
.sliderImg {
  z-index: 1;
}
.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  color: white;
  text-align: center;
  z-index: 1;
}
.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  color: white;
  text-align: center;
  font-weight: 300;
  border: 1px solid gray;
  z-index: 1;
}
.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  text-align: center;
  border: 1px solid gray;
  background-color: #111;
  z-index: 1;
  cursor: pointer;
}
.buyButton:hover {
  background-color: white;
  color: #111;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: green;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
  color: green;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: rgb(124, 115, 80);
}

/*--------------- features ------------------*/
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.featureIcon {
  height: 50px;
  width: 50px;
}
.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}
.featureDescription {
  color: gray;
  width: 100px;
  height: 50%;
}
/* ---------- product ----------- */
.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}
.productImg {
  width: 50%;
}
.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}
.productTitle {
  font-size: 75px;
  font-weight: 900;
}
.productDescription {
  font-size: 24px;
  color: gray;
}
.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}
.color {
  width: 32px;
  height: 32px;
  background-color: #111;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.color:last-child {
  background-color: darkblue;
}
.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.productButton {
  float: right;
  padding: 10px 20px;
  color: white;
  background-color: #111;
  font-weight: 600;
  cursor: pointer;
}
.productButton:hover {
  color: #111;
  background-color: white;
}
.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 11px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 11px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 8px 2px rgba(0, 0, 0, 0.75);
  display: none;
}
.payTitle {
  color: lightgray;
  font-size: 20px;
}
label {
  font-size: 14px;
  font-weight: 300;
}
.payInput {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}
.payInput::placeholder {
  color: lightgray;
}
.cardIcons {
  display: flex;
}
.cardIcon {
  margin-right: 10px;
}
.cardInfo {
  display: flex;
  justify-content: space-evenly;
}
.sm {
  width: 30%;
}
.payButton {
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  box-shadow: 10px 11px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 11px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 8px 2px rgba(0, 0, 0, 0.75);
  background-color: lightgreen;
  color: dimgrey;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.payButton:hover {
  background-color: darkgreen;
  font-weight: bold;
  color: white;
}
.close {
  width: 20px;
  height: 20px;
  background-color: rgb(190, 22, 22);
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
}
.close:hover {
  background-color: red;
  font-size: 20px;
}

/* ------- gallery ------------- */
.gallery {
  padding: 50px;
  display: flex;
}
.galleryItem {
  flex: 1;
  padding: 50px;
}
.galleryImg {
  width: 100%;
}

/* ------new season------- */
.newSeason {
  display: flex;
}
.nsItem {
  flex: 1;
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nsImg {
  width: 100%;
  height: 500px;
}
.nsTitle {
  font-size: 40px;
}
.nsButton {
  cursor: pointer;
  padding: 15px;
  font-weight: 600;
}

/* ------- footer -------- */
footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons {
  display: flex;
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}
@media screen and (max-width: 580px) {
  nav {
    padding: 20px;
  }
  .search {
    display: none;
  }
  .navButtom {
    flex-wrap: wrap;
  }
  .menuItems {
    font-weight: 700;
    font-size: 20px;
    margin: 20px;
  }
  .slider {
    clip-path: none;
  }
  .sliderImg {
    width: 90%;
  }
  .sliderBg {
    width: 100%;
    height: 100%;
  }
  .sliderTitle {
    display: none;
  }
  .sliderPrice {
    top: unset;
    left: 0;
    bottom: -50px;
    background-color: lightgray;
  }
  .buyButton {
    right: 0;
    top: 0;
  }
  .features {
    flex-direction: column;
  }
  .product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productImg {
    width: 80%;
  }
  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }
  .productTitle {
    font-size: 20px;
    margin: 0;
  }
  .productDescription {
    display: none;
  }
  .productButton {
    margin-bottom: 20px;
  }
  .gallery {
    display: none;
  }
  .newSeason {
    flex-direction: column;
  }
  .nsItem:nth-child(2) {
    padding: 50px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footerLeft {
    padding: 20px;
    width: 90%;
    background-color: whitesmoke;
  }
  .footerRight {
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }
}
